mat-drawer-container {
  height: 120%;
}

mat-drawer {
  width: 18%;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

.profile-image{
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
}

mat-panel-description {
 display: flex;
 padding-top: 15px;
}

.container-fluid{
  background-color: #F6F7FF;
  height: 100%;
  padding-bottom: 30px;
}