<div class="container-fluid">

    <mat-card class="mt-4">
        <mat-card-content>
            <h2>Dashboard</h2>
        </mat-card-content>
    </mat-card>

    <div class="cards mt-4">
        <a class="card" routerLink="ControlDeLlamadas"></a>
        <a class="card" routerLink="Clientes"></a>
        <a class="card" routerLink="Asesores"></a>
        <a class="card" routerLink="Reportes"></a>
        <a class="card" routerLink="Reportes"></a>
        <a class="card" routerLink="Configuracion"></a>
    </div>
</div>