.profile-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.mat-mdc-form-field {
    font-size: 17px;
    width: 100%;
}

.mat-mdc-select {
    font-size: 17px;
}

.card-right mat-card{
    height: 177px;   
}