<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <em> <strong>Ticket Trace</strong></em>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon matBadge="15" matBadgeColor="warn">
        email
      </mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>
        settings
      </mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item>Configuracion</button>
      <button mat-menu-item (click)="cerrarSesion()">Salir</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>