<div class="cards">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Soportes Finalizados</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <h1>Total Finalizados:</h1>
            <h1>{{countSupport.finalizadas}}</h1>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Soportes Pendientes</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <h1>Total Pendientes:</h1>
            <h1>{{countSupport.pendientes}}</h1>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Total Soportes</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <h1>Total Soportes:</h1>
            <h1>{{countSupport.totales}}</h1>
        </mat-card-content>
    </mat-card>
</div>