<div class="login-container min-vh-100">
    <div class="box-left">

    </div>
    <div class="box-right">
        <mat-card style="border-radius: 30px;">
            <mat-card-header>
                <mat-card-title>Recuperacion De Cuenta</mat-card-title>
                <mat-card-subtitle>Por favor ingrese su nombre de usuario</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="header-box">
                    <img src="../../../../assets/img/logo.png" width="250px">
                </div>
                <mat-card>
                    <mat-card-content class="body-box">
                        <div *ngIf="!isRecover">
                            <form [formGroup]="formGroup" (ngSubmit)="recoverAccount()">
                                <mat-form-field appearance="outline">
                                    <mat-label>Usuario</mat-label>
                                    <input matInput autocomplete="on" formControlName="username">
                                </mat-form-field>
                                <button type="submit" mat-raised-button color="primary"
                                    [disabled]="formGroup.invalid">Recuperar Cuenta</button>
                            </form>
                            <button mat-raised-button color="warn" class="mt-2" routerLink="Login">Ir Atras</button>
                        </div>
                        <mat-spinner *ngIf="isRecover" diameter="80" class="spinner" color="primary"></mat-spinner>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>