<div class="mat-elevation-z10">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Fecha/Hora">
            <th mat-header-cell *matHeaderCellDef> Inicio </th>
            <td mat-cell *matCellDef="let element"> {{formatDate(element.startDate) + ' '
                +element.startTime}} </td>
        </ng-container>

        <ng-container matColumnDef="Consecutivo">
            <th mat-header-cell *matHeaderCellDef> Consecutivo </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="Asesor">
            <th mat-header-cell *matHeaderCellDef> Asesor </th>
            <td mat-cell *matCellDef="let element"> {{element.agent.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="Codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.customer.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="Razon Social">
            <th mat-header-cell *matHeaderCellDef> Razon Social </th>
            <td mat-cell *matCellDef="let element"> {{element.customer.bussinesName}} </td>
        </ng-container>

        <ng-container matColumnDef="Contacto">
            <th mat-header-cell *matHeaderCellDef> Contacto </th>
            <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
        </ng-container>

        <ng-container matColumnDef="Telefono">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="Tipo De Soporte">
            <th mat-header-cell *matHeaderCellDef> Tipo De Soporte </th>
            <td mat-cell *matCellDef="let element"> {{element.supportType}} </td>
        </ng-container>

        <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
                <app-chip-estado [stateSupport]="element.state"></app-chip-estado>
            </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <div class="row">
                    <div class="col-4">
                        <a [routerLink]="['VerDetalleDeLlamada', element.id]" matTooltip="Historial">
                            <img class="btn-icon" src="../../../../../assets/icons/history.png" alt="lupa.png">
                        </a>
                    </div>
                    <div class="col-4">
                        <a [routerLink]="['AgregarSeguimiento', element.id]" matTooltip="Editar Llamada">
                            <img class="btn-icon" src="../../../../../assets/icons/pencil.png" alt="pencil.png">
                        </a>
                    </div>
                    <div class="col-4">
                        <button mat-mini-fab matTooltip="Eliminar Llamada" (click)="openConfirmationDialog(element.id)">
                            <img class="btn-icon" src="../../../../../assets/icons/basura.png" alt="basura.png">
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,25,50,100]" aria-label="Selecciona la pagina de llamadas"></mat-paginator>
</div>