.mat-mdc-form-field {
    font-size: 17px;
    width: 100%;
}

.cajaEstado {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    height: auto;
}

.mat-mdc-select {
    font-size: 17px;
}

.btn-primary {
    height: 40px;
    width: 200px;
}