.profile-card {
  display: flex;
  padding: 15px;
  justify-content: center;
  height: 180px;
}

.menulist{
  display: flex;
  flex-direction: column;
}

mat-accordion{
  margin-top: 10px;
}

mat-drawer {
  width: 15%;
}

mat-drawer-container {
  height: 150%;
}