<app-navbar (toggleSideBarForMe)="sideBarToggler()"></app-navbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer [opened]="sideBarOpen" mode="side">
    <mat-nav-list>
      <div class="profile-card">
        <img src="../../../../assets/img/userdefault.png" alt="perfil.png">
      </div>
      <mat-divider></mat-divider>
      <div class="menulist">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h2>Inicio</h2>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/Dashboard">Dashboard</a>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h2>Registros</h2>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/Dashboard/ControlDeLlamadas">Control De Llamadas</a>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h2> Clientes</h2>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/Dashboard/Clientes">Clientes</a>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h2>Asesores</h2>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/Dashboard/Asesores">Asesores</a>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h2>Reportes</h2>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/Dashboard/Reportes">Informe De Llamadas</a>
            <a mat-list-item routerLink="/Dashboard/Reportes">Informe De Clientes</a>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h2>Configuracion</h2>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!--Agregar Links-->
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>