.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
 }
 
 .card {
    background-image: url("https://material.angular.io/assets/img/examples/shiba2.jpg");
    margin: 30px;
    width: 200px;
    height: 230px;
 }
 
 .card:hover {
    width: 198px;
    height: 228px;
    opacity: 0.9;
 }