<mat-card class="mt-4">
    <mat-card-content>
        <h2>Dashboard</h2>
    </mat-card-content>
</mat-card>

<div class="cards mt-4">
    <a class="card" routerLink="ControlDeLlamadas"><img src="../../../../assets/icons/supports.png" alt=""></a>
    <a class="card" routerLink="Clientes"><img src="../../../../assets/icons/customers.png" alt=""></a>
    <a class="card" routerLink="Asesores"><img src="../../../../assets/icons/agents.png" alt=""></a>
    <a class="card" routerLink="Reportes/Llamadas"><img src="../../../../assets/icons/reports.png" alt=""></a>
    <a class="card" href="Dashboard"><img src="../../../../assets/icons/config.png" alt=""></a>
    <a class="card" href="Dashboard"><img src="../../../../assets/icons/logout.png" alt=""></a>
</div>