.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
 }
 
 .card {
    margin: 30px;
    width: 200px;
    height: 230px;
    justify-content: center;
 }

 .card img{
   height: 85%;
 }
 
 .card:hover {
    width: 198px;
    height: 228px;
    opacity: 0.9;
 }