<div class="container-fluid">

    <mat-card class="mt-4">
        <mat-card-content>
            <h2><a routerLink="/Dashboard">Dashboard </a> / <a routerLink="/Dashboard/ControlDeLlamadas">Control De
                    Llamadas</a> /
                Registro De Llamadas </h2>
        </mat-card-content>
    </mat-card>

    <div class="border rounded-5 mt-4 p-4">
        <form class="row" [formGroup]="formularioDeLlamada" (ngSubmit)="openConfirmationDialog()">
            <h2 class="mb-4">Registro De Llamada</h2>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Desde:</mat-label>
                    <input matInput [matDatepicker]="Desde" formControlName="fechaInicio">
                    <mat-datepicker-toggle matIconSuffix [for]="Desde"></mat-datepicker-toggle>
                    <mat-datepicker #Desde></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Hora Inicio:</mat-label>
                    <input type="time" matInput autocomplete="off" formControlName="horaInicio">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Codigo:</mat-label>
                    <mat-select formControlName="codigo">
                        <mat-option *ngFor="let cliente of clientes"
                            [value]="cliente.codigo">{{cliente.codigo}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Razon Social:</mat-label>
                    <input matInput #input autocomplete="off" formControlName="razonSocial" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Tipo De Soporte:</mat-label>
                    <mat-select formControlName="tipoSoporte">
                        <mat-option value="Sistema">Sistema</mat-option>
                        <mat-option value="Tecnico">Tecnico</mat-option>
                        <mat-option value="Suscripcion">Suscripcion</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Asesor:</mat-label>
                    <mat-select formControlName="asesor">
                        <mat-option *ngFor="let asesor of asesores"
                            [value]="asesor.id">{{asesor.primerNombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!--      <div class="col-md-3">
                <input class="form-control" type="file" accept="image/*" (change)="upload($event)">
            </div>-->
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Contacto:</mat-label>
                    <input matInput autocomplete="off" formControlName="contacto">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Telefono:</mat-label>
                    <input matInput autocomplete="off" formControlName="telefono">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Hasta:</mat-label>
                    <input matInput [matDatepicker]="Hasta" formControlName="fechaFin">
                    <mat-datepicker-toggle matIconSuffix [for]="Hasta"></mat-datepicker-toggle>
                    <mat-datepicker #Hasta></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Hora Fin:</mat-label>
                    <input type="time" matInput autocomplete="off" formControlName="horaFin">
                </mat-form-field>
            </div>
            <div class="col-md-2 ">
                <mat-form-field appearance="outline">
                    <mat-label>Estado:</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option value="Finalizado">Finalizado</mat-option>
                        <mat-option value="Pendiente">Pendiente</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Detalle:</mat-label>
                    <textarea matInput formControlName="detalle" cols="3" rows="4"
                        style="resize: none;"></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Observacion:</mat-label>
                    <textarea matInput formControlName="observacion" cols="3" rows="4"
                        style="resize: none;"></textarea>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-1 mt-1 d-flex justify-content-start">
                    <mat-toolbar>
                        <span class="example-spacer"></span>
                        <button mat-raised-button color="accent" (click)="irAtras()"> Atras
                        </button>
                    </mat-toolbar>
                </div>
                <div class="col-11 mt-1 d-flex justify-content-end">
                    <mat-toolbar>
                        <span class="example-spacer"></span>
                        <button class="btn btn-success" type="submit" [disabled]="!formularioDeLlamada.valid">
                            Registrar </button>
                    </mat-toolbar>
                </div>
            </div>
        </form>
    </div>

    <div class="mat-elevation-z10 mt-5">

        <table mat-table [dataSource]="datasource" [hidden]="tablaOculta">

            <ng-container matColumnDef="Consecutivo">
                <th mat-header-cell *matHeaderCellDef> Consecutivo </th>
                <td mat-cell *matCellDef="let element"> {{element.consecutivo}} </td>
            </ng-container>

            <ng-container matColumnDef="Asesor">
                <th mat-header-cell *matHeaderCellDef> Asesor </th>
                <td mat-cell *matCellDef="let element"> {{element.asesor.primerNombre}} </td>
            </ng-container>

            <ng-container matColumnDef="Codigo">
                <th mat-header-cell *matHeaderCellDef> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{element.cliente.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="Razon Social">
                <th mat-header-cell *matHeaderCellDef> Razon Social </th>
                <td mat-cell *matCellDef="let element"> {{element.cliente.razonSocial}} </td>
            </ng-container>

            <ng-container matColumnDef="Tipo De Soporte">
                <th mat-header-cell *matHeaderCellDef> Tipo De Soporte </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoSoporte}} </td>
            </ng-container>

            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="Ver">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <div class="row">
                        <div class="col-6">
                            <button mat-mini-fab color="accent" matTooltip="Ver Detalles"
                                (click)="verDetalles(element.consecutivo)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                        <div class="col-6">
                            <button mat-mini-fab color="warn" matTooltip="Eliminar Llamada"
                                (click)="eliminarLlamada(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'even-row': row.estado === 'Pendiente'}"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecciona Pagina De Llamadas"></mat-paginator>
    </div>
</div>