<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!--Login Container-->
    <div class="row border rounded-5 p-3 bg-white shadow box-area">

        <!--Left box-->
        <div class="col-md-6 rounder-4 d-flex justify-content-center align-items-center flex-column left-box">
            <div class="featured-image mb-3">
                <img src="../../../../assets/img/icono.png" class="img-fluid" width="250px">
            </div>
        </div>

        <!--Right box-->
        <div class="col-md-6 right-box">
            <div class="row align-items-center" *ngIf="!loading">
                <div class="mb-4">
                    <h1>Bienvenido</h1>
                    <p>Estamos muy felices de tenerte de vuelta</p>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="acceder()">
                    <mat-form-field appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input matInput autocomplete="on" formControlName="usuario">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput formControlName="contraseña">
                    </mat-form-field>
                    <div class="mb-3 align-items-end">
                        <mat-checkbox color="primary">
                            Recuerdame
                        </mat-checkbox>
                    </div>
                    <button type="submit" mat-raised-button color="primary"
                        [disabled]="loginForm.invalid">Acceder</button>
                </form>
                <mat-label>
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </mat-label>
            </div>
            <mat-spinner *ngIf="loading" diameter="150" class="spinner" color="primary"></mat-spinner>
        </div>

    </div>
</div>