.box-area {
    width: 930px;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

mat-form-field{
    width: 100%;
}

button{
    width: 100%;
}

::placeholder {
    font-size: 16px;
}

@media only screen and (max-width:768px) {
    .box-area{
        margin: 0 10px;

    }
    .left-box{
        height: 260px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}